* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../imagenes-secciones/32293552-textura-de-madera-de-fondo-madera-vieja-camiseta-patrón-de-textura-de-fondo-.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*h1 {
    text-decoration: underline;
    color: black;

    padding-top: 100px 50px 50px 50px;
    border-left: 600px ;
    margin-top: 50px 50px 50px 100px;

  
}*/
h2 {

    padding-top: 100px 50px 50px 50px;
    border-left: 300px;
    margin-top: 50px 50px 50px 100px;
    text-decoration: underline;
    color: black;


}
nav { margin: 50px 50px;}


li {
    
    list-style-type: none;
    display: inline;
    padding-right: 20px;
  
}


    


a{
    text-decoration: none;
    color: black;
    background-color: aliceblue;
   

}


.header{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.header1{
    display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.header2{
    display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  text-decoration: underline;
    color: black;

   margin-left: 500px;
   margin-bottom: 100px;
}
.header3{
    display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

 margin-left: 200px;
}

.grid-container{
/*Habilito grilla*/
   display: grid;

/*Cantidad de filas + tamaño*/


/*Cantidad de columnas y tamaños*/

display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: px;
grid-row-gap: 20px;
padding-left: 100px;

}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 3 / 3 / 4; }

/*Transformacion es bipolar / pasa de un estado a otro sin filtro*/

/*Trancicion maneja la transformacion alo largo del tiempo*/


/*.div1{
    border-radius: 6px;
    height: 40px;
    width: 80px;
    
}*/

/*:hover es una pseudo clase*/

/*Transformacion agregar un N° entero sin unidad de medida para modificar el elemento*/
/*transition se utiliza para agregar al elemento*/

.div1:hover{
    transform: scale(2);
    transition: all 2s;
}
.div2:hover{
    transform: scale(2);
    transition: all 2s;
}
.div3:hover{
    transform: scale(2);
    transition: all 2s;
}
.div4:hover{
    transform: scale(2);
    transition: all 2s;
}
.div5:hover{
    transform: scale(2);
    transition: all 2s;
}


.cocinas{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: px;
grid-row-gap: 20px;
}

.cocina-1{ grid-area: 1 / 1 / 2 / 2;
padding-left: 100px;
}
.cocina-2 { grid-area: 1 / 2 / 2 / 3; }
.cocina-3 { grid-area: 1 / 3 / 2 / 4; }


.placares {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
padding-left: 100px;
}

.placard-1 { grid-area: 1 / 1 / 2 / 2; }
.placard-2 { grid-area: 1 / 2 / 2 / 3; }
.placard-3 { grid-area: 1 / 3 / 2 / 4; }



.oficina{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.oficina-1 { grid-area: 1 / 1 / 2 / 2; 
padding-left: 100px;
}
.oficina-2 { grid-area: 1 / 2 / 2 / 3; }
.oficina-3 { grid-area: 1 / 3 / 2 / 4; }


.chicos{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
padding-left: 100px;
}
.chicos-1 { grid-area: 1 / 1 / 2 / 2; }
.chicos-2 { grid-area: 1 / 2 / 2 / 3; }
.chicos-3 { grid-area: 1 / 3 / 2 / 4; }


.otros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.otros1 { grid-area: 1 / 1 / 2 / 2; }
.otros2 { grid-area: 2 / 2 / 3 / 3; 
    margin-top: 100px;
}
.otros3 { grid-area: 1 / 3 / 2 / 4; }


.flecha-arriba {

margin-left: 600px;

}

@media screen and (max-width: 400px){


p{
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
}

.header{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.header1 { grid-area: 1 / 1 / 2 / 2; }
.header2 { grid-area: 1 / 2 / 2 / 3; }
.header3 { grid-area: 2 / 2 / 3 / 3; }
.header4 { grid-area: 3 / 1 / 4 / 2; }


.grid-container{
   
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: px;
    grid-row-gap: 20px;
    padding-left: 100px;
    
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 3 / 3 / 4; }


    .cocinas{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: 20px;

    }
    .cocinas div{
        width: 100px;
    height: 100px;
    margin: 7px;
    }
    
    .cocina-1{ grid-area: 1 / 1 / 2 / 2;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    height: 100;
    overflow: auto;
    flex-direction: row;
    }
    .cocina-2 { grid-area: 1 / 2 / 2 / 3; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width: 100%;
        height: 100;
        overflow: auto;
        flex-direction: row;
    }
    .cocina-3 { grid-area: 1 / 3 / 2 / 4; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-content: center;
        width: 100%;
        height: 100;
        overflow: auto;
        flex-direction: row;
    }
    
    
    .placares {
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 100px;
    }
    
    .placard-1 { grid-area: 1 / 1 / 2 / 2; }
    .placard-2 { grid-area: 1 / 2 / 2 / 3; }
    .placard-3 { grid-area: 1 / 3 / 2 / 4; }
    
    
    
    .oficina{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .oficina-1 { grid-area: 1 / 1 / 2 / 2; 
    padding-left: 100px;
    }
    .oficina-2 { grid-area: 1 / 2 / 2 / 3; }
    .oficina-3 { grid-area: 1 / 3 / 2 / 4; }
    
    
    .chicos{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 100px;
    }
    .chicos-1 { grid-area: 1 / 1 / 2 / 2; }
    .chicos-2 { grid-area: 1 / 2 / 2 / 3; }
    .chicos-3 { grid-area: 1 / 3 / 2 / 4; }
    
    
    .otros{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
    }
    
    .otros1 { grid-area: 1 / 1 / 2 / 2; }
    .otros2 { grid-area: 2 / 2 / 3 / 3; 
        margin-top: 100px;
    }
    .otros3 { grid-area: 1 / 3 / 2 / 4; }
    
    
    .flecha-arriba {
    
    margin-left: 600px;
    
    }





}

