*{
    margin: 0;
    padding: 0;

}

body {
    /*background-image nunca va sola*/
   background-image: url('../imagenes-secciones/fondo-2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}



li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    background-color: rgb(120, 209, 120);

  
}

.alinear{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.div1-footer { grid-area: 1 / 1 / 2 / 2; 
background-color: antiquewhite;
}
.div2-footer { grid-area: 1 / 2 / 2 / 3; 
background-color: antiquewhite;
}
.div3-footer { grid-area: 1 / 3 / 2 / 4; 
background-color: antiquewhite;

}
